In [1]:
import numpy as np
import pandas as pd

# Load the .npy file containing the image pair entries
npy_file = "doppelgangers/pairs_metadata/train_pairs_noflip.npy" 
pair_data = np.load(npy_file, allow_pickle=True)

# Convert the numpy array to a pandas DataFrame
df = pd.DataFrame(pair_data, columns=['image_0', 'image_1', 'label', 'num_sift_matches'])

# Show the first few rows of the dataframe to confirm
df

,image_0,image_1,label,num_sift_matches
0,%C3%89glise_de_la_Madeleine_2/north/0/pictures...,%C3%89glise_de_la_Madeleine_2/south/0/pictures...,0,17
1,%C3%89glise_de_la_Madeleine_2/north/0/pictures...,%C3%89glise_de_la_Madeleine_2/south/0/pictures...,0,16
2,%C3%89glise_de_la_Madeleine_2/north/0/pictures...,%C3%89glise_de_la_Madeleine_2/south/0/pictures...,0,24
3,%C3%89glise_de_la_Madeleine_2/north/0/pictures...,%C3%89glise_de_la_Madeleine_2/south/0/pictures...,0,16
4,%C3%89glise_de_la_Madeleine_2/north/0/pictures...,%C3%89glise_de_la_Madeleine_2/south/0/pictures...,0,17
...,...,...,...,...
73185,Brooklyn_Bridge/west/0/pictures/Brooklyn Bridg...,Brooklyn_Bridge/west/0/pictures/Brooklyn Bridg...,1,38
73186,Brooklyn_Bridge/east/0/0/pictures/Brooklyn Bri...,Brooklyn_Bridge/east/0/0/pictures/Brooklyn Bri...,1,32
73187,Brooklyn_Bridge/east/0/0/pictures/New York (11...,Brooklyn_Bridge/east/0/0/pictures/New York (11...,1,261
73188,Brooklyn_Bridge/west/0/pictures/Brooklyn Bridg...,Brooklyn_Bridge/west/0/pictures/Brooklyn Bridg...,1,37
73189,Brooklyn_Bridge/west/0/pictures/Brooklyn Bridg...,Brooklyn_Bridge/west/0/pictures/NYC 2012 IMG 2...,1,20

In [9]:
df_brandenburg_gate = df[df['image_0'].str.contains('Arc_de')]
df_brandenburg_gate

,image_0,image_1,label,num_sift_matches
66952,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,0,16
66953,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,0,25
66954,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,0,35
66955,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,0,29
66956,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,0,17
...,...,...,...,...
69373,Arc_de_Triomphe_du_Carrousel_by_angle/front_le...,Arc_de_Triomphe_du_Carrousel_by_angle/front_le...,1,77
69374,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,Arc_de_Triomphe_du_Carrousel_by_angle/front/0/...,1,29
69375,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,Arc_de_Triomphe_du_Carrousel_by_angle/back/0/p...,1,140
69376,Arc_de_Triomphe_du_Carrousel_by_angle/front_ri...,Arc_de_Triomphe_du_Carrousel_by_angle/front_ri...,1,21
69377,Arc_de_Triomphe_du_Carrousel_by_angle/front_le...,Arc_de_Triomphe_du_Carrousel_by_angle/front_le...,1,17